/*
Colors used:
Primary Color (Purple): #594a61;
Secondary Color (Muted Purple 1): #796677;
Primary Color (Mint Green): #c9d2cb;
Secondary Color (Muted Purple 2): #baa5a4;
Secondary Color (Beige): #f6e5d8;

font-family: 'Lato', sans-serif;
300 - Light
400 - Regular
700 - Bold
font-family: 'Titan One', cursive;
*/

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  position: fixed
  width: 100%;
  background-color: #F8F8FF;
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width: 100%;
  margin: 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #594a61;
}

nav > ul > li > a:visited {
  color: #796677;
}

nav > ul > li > a:hover, a:focus {
  color: #c9d2cb;
}

nav > ul > li > a:active {
  color: #f6e5d8;
}



body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #594a61;
}

footer {
  border-top: 3px solid #f6e5d8;
  background-color: #594a61;
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
}

footer p {
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Titan One', cursive;
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: #796677;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #c9d2cb;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: #796677;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: #796677;
}

a {
  color: #796677;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #baa5a4;
}
a:hover,
a:focus {
  color: #c9d2cb;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #f6e5d8;
}

.button, .button-resume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #796677;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #594a61; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button-resume:hover, .button-resume:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active, .button-resume:active {
  background-color: #f6e5d8;
  text-decoration: none;
}
.button:visited, .button-resume:visited {
  background-color: #baa5a4;
  color: #594a61;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #f6e5d8;
  text-transform: uppercase;
  border: 2px solid #f6e5d8;
  margin: 10px;
}

.button.contact:hover, .button.contact:focus {
  background-color: #594a61;
  color: #ffffff;
}

.button.contact:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

img {
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work {
  padding: 25px 0 25px 0;
}

#work .row {
  padding: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #F8F8FF;
  padding: 0px 20px 20px 20px;
}

#hero h1 {
  text-align: center;
  padding: 10px 0 0 0;
  display: inline-block;
  width: 100%;
  margin: 0;
}

#hero p {
  margin: 0;
  text-align: center;
}

#aboutme h1{
  padding: 10px;
  text-align: center;
}
#headshot {
  display: inline-block;
  max-width: 350px;
  margin: 15px;
}

#footersocial {
  margin: 10px
}
