/*
Colors used:
Primary Color (Purple): #594a61;
Secondary Color (Muted Purple 1): #796677;
Primary Color (Mint Green): #c9d2cb;
Secondary Color (Muted Purple 2): #baa5a4;
Secondary Color (Beige): #f6e5d8;

font-family: 'Lato', sans-serif;
300 - Light
400 - Regular
700 - Bold
font-family: 'Titan One', cursive;
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo {
  max-width: 150px;
  margin: 15px 0 10px 0;
}

#skills-tools .col-md-6 {
width: 50%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #594a61;
}

nav > ul > li > a:visited {
  color: #796677;
}

nav > ul > li > a:hover, a:focus {
  color: #c9d2cb;
}

nav > ul > li > a:active {
  color: #f6e5d8;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  text-align: center;
  display: block;
  padding: 10px 0;
  border-top: 1px solid #594a61;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  padding-top: 30px;
  font-size: 20px;
  padding-right: 5;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #594a61;
}

main {
  padding: 80px 0 0 0;
}

footer {
  border-top: 3px solid #f6e5d8;
  background-color: #594a61;
  text-align: center;
  width: 100%;
  padding: 0 0 10px 0;
}

footer p {
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Titan One', cursive;
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: #796677;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #c9d2cb;
  letter-spacing: .25px;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: #796677;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
  color: #796677;
}

a {
  color: #c9d2cb;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #baa5a4;
}
a:hover,
a:focus {
  color: #c9d2cb;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #f6e5d8;
}

.button, .button-resume {
  display: inline-block;
  background-color: #594a61;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #796677;
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button-resume:hover, .button-resume:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #c9d2cb;
  cursor: pointer;
}

.button:active, .button-resume:active {
  background-color: #f6e5d8;
  text-decoration: none;
}
.button:visited, .button-resume:visited {
  background-color: #baa5a4;
  color: #594a61;
  text-decoration: none;
}

.button.contact {
  background-color: #c9d2cb;
  color: #594a61;
  text-transform: uppercase;
  margin: 10px;
}

.button.contact:hover, .button.contact:focus {
  background-color: #796677;
  color: #ffffff;
}

.button.contact:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button-resume {
  display: inline-block;
  margin: auto;
}


img {
  width: 100%;
}

/* Layout styling */

.container, .workpagecontainer {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work {
  padding: 25px 0 25px 0;
}

#work .row {
  padding: 25px;
  border-bottom: 1px solid #baa5a4;
}


#hero {
  padding: 20px;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  padding: 10px 0 0 0;
  display: inline-block;
  width: 100%;
  margin: 0;
}

#hero p {
  margin: 0;
  text-align: center;
}

#aboutme h1{
  padding: 10px;
  text-align: center;
  margin-top: 0;
}

#aboutme .container{
  padding: 25px;
}

#skills-tools {
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}

#skills-tools ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#headshot {
  display: inline-block;
  width: 100%;
  margin: auto;
}

#footersocial {
  margin: 10px
}


.workpagecontainer {
  padding: 25px;
}

.workpageimages {
  margin: 25px 0 15px 0;
}

#bar32logo {
  max-width: 300px;
  margin: 40px auto;
}



/* Animation */

#cityscape {
  width: 100%;
  max-width: 100%;
  height: auto;
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Device sizing */
[class*="col-"] {
  float: left;
  padding: 0 10px;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  h1 {
    font-size: 2.5em;
  }

  .logo {
    margin: 0 0 0 20px;
    max-width: 200px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }



  main {
    padding: 100px 0 0 0;
  }

  .col-md-6 {
  width: 50%;
  }

  #aboutme h1{
    text-align: left;
  }

  #skills-tools .row {
    max-width: 600px;
    margin: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.75em;
  }

  .logo {
    margin: 0 0 0 20px;
    max-width: 200px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-5 {
  width: 41.66%;
  }
  #skills-tools .col-md-6 {
  width: 50%;
  }
  .col-lg-7 {
  width: 58.33%;
  }

  #aboutme h1{
    text-align: left;
  }

  #skills-tools .row {
    max-width: 600px;
    margin: auto;
  }
}
